[submodule "extlib/cpp-httplib"]
	path = extlib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "extlib/configor"]
	path = extlib/configor
	url = https://github.com/Nomango/configor
